@font-face {
    font-family: 'Sansita';
    src: url('../fonts/Sansita/Sansita-Regular.ttf') format('truetype'),
    url('../fonts/Sansita/Sansita-Italic.ttf') format('truetype'),
    url('../fonts/Sansita/Sansita-Black.ttf') format('truetype'),
    url('../fonts/Sansita/Sansita-BlackItalic.ttf') format('truetype'),
    url('../fonts/Sansita/Sansita-Bold.ttf') format('truetype'),
    url('../fonts/Sansita/Sansita-BoldItalic.ttf') format('truetype'),
    url('../fonts/Sansita/Sansita-ExtraBold.ttf') format('truetype'),
    url('../fonts/Sansita/Sansita-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ribeye';
    src: url('../fonts/Ribeye.ttf') format('truetype');
}

