.drawing-borders {
    background-color: transparent;
    border: solid 30px transparent;
    border-image: url('../img/borders.png') 200;
}

.material-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.material-shadow-up {
    box-shadow: 0 -10px 20px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);
}