<header class="material-shadow">
    <nav class="mb-4 navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">Front-end Jedi</a>
            <button class="navbar-toggler" type="button" (click)="isOpen = !isOpen" aria-controls="navbarScroll" [attr.aria-expanded]="isOpen" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" aria-hidden="true"></span>
            </button>
            <div class="collapse navbar-collapse" [ngClass]="{'show': isOpen}" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a routerLink="about" routerLinkActive="active" class="nav-link">O mnie</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="projects" routerLinkActive="active" class="nav-link">Projekty</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="contact" routerLinkActive="active" class="nav-link">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>