  <app-loader *ngIf="!dataDownloaded"></app-loader>
  <main class="container" *ngIf="dataDownloaded">
      <section>
          <h1 class="text-center display-4 mb-3" [innerHTML]="post.title"></h1>
          <div class="bg-white p-4 drawing-borders">
              <time class="mb-2" [attr.datetime]="post.date">{{post.date | date:"dd.MM.YYYY" }}</time>
              <app-featured-image classes="mb-4" *ngIf="post.featured_media !== 0" [id]="post.featured_media" [startDownloading]="dataDownloaded"></app-featured-image>
              <div class="row justify-content-center">
                  <div class="col-12 col-md-10 col-lg-8">
                      <div [innerHTML]="post.content"></div>
                  </div>
              </div>
          </div>
      </section>
    </main>