<main class="container">
    <h1 class="text-center">Contact</h1>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mx-auto">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="email" class="form-label">Your e-mail</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="col-md-6">
                    <label for="name" class="form-label">Your name</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="col-12">
                    <label for="subject" class="form-label">Topic</label>
                    <input type="text" class="form-control" id="subject">
                </div>
                <div class="col-12">
                    <label for="message" class="form-label">Message</label>
                    <textarea rows="8" class="form-control" id="message" placeholder="Write here your message..."></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">Send</button>
                </div>
            </form>
        </div>
    </div>
</main>