<main class="container">
    <h1>About me</h1>
    <p>What the hell mean's "front-end jedi"? You could ask and it would be a good question.</p>
    <p>During my first work in the frontend I discover how much the dark side of power can control software engineering.</p>
    <p>To resist powers of deadlines, business pressure and shitty practicies dictated by clients who always wants to save on development I decided to create my own set of rules which I can't broke even, when dark side will have advantage over good programmers.</p>
    <p>This is my philosphy of front-end jedi!</p>
    
    <h2>My skills</h2>
    <p>To be complete developer I decide to dive into all IT knowledge in purpose to get the big picture in software engineering.</p>
    <p>That's why I have really wide, but not really expertise knowledge in IT. Below you can see my list of skills with short description about it and my personal evaluation of its depth.</p>
    <ul *ngIf="!skillDownloading && skills[0].skill !== ''">
        <li *ngFor="let skill of skills">
            <app-skill [skill]="skill"></app-skill>
        </li>
    </ul>
    <app-loader *ngIf="skillDownloading"></app-loader>
</main>