<main class="container">
    <section>
        <h1>O mnie</h1>
        <p>Co do cholery ma oznaczać 'Front-end Jedi'? Moglibyście zapytać i byłoby to dobre pytanie.</p>
        <p>Podczas pierwszej pracy jako front-end developer odkryłem jak bardzo ciemna strona mocy kontroluje inżynierię oprogramowania.</p>
        <p>Żeby stawić czoła mrocznym siłom deadline'ów, presji biznesowej i złym praktykom wytwarzania oprogramowania narzucanym przez klinetów 
            szukających oszczędności na developmencie, postanowiłem ustanowić własny zestaw zasad, których będę bronił za wszelką cenę.</p>
        <p>Oto i droga front-endowego Jedi!</p>
    </section>
    <section>
        <h2>Moje umiejętności</h2>
        <p>By zostać kompletnym developerem zdecydowałem się zanurkować głęboko w nieskończone odmęty świata IT i zyskać szerszy obraz na inżynierię oprogramowania.</p>
        <p>Właśnie dlatego zestaw moich umiejętności choć nie zawiera wielu dobrze rozwiniętych specjalizacji, to obejmuje swą szerokością niemal każdy obszar związany z programowaniem.</p>
        <ul *ngIf="!skillDownloading && skills">
            <li *ngFor="let skill of skills">
                <app-skill [skill]="skill"></app-skill>
            </li>
        </ul>
        <app-loader *ngIf="skillDownloading"></app-loader>
        <p class="my-5 h4 font-weight-normal text-center" *ngIf="!skillDownloading && !skills">Przepraszamy, wystąpił błąd podczas ładowania danych. Spróbuj ponownie później</p>
    </section>
</main>