<main class="container">
    <h1 class="text-center">Front-end Jedi</h1>
    <p class="text-center">Witaj na mojej stronie! Będę się tutaj dzielił moją przygodą związaną ze zgłębianiem jasnej strony mocy frontendu. Mam nadzieję, że znajdziesz tu coś pożytecznego dla siebie.</p>
    <p class="text-center">Niech moc będzie z tobą!</p>
    <app-loader *ngIf="isEmpty && !dataLoaded"></app-loader>
    <ul *ngIf="!isEmpty" class="mx-auto list-unstyled">
        <li class="mb-4" *ngFor="let post of posts">
            <app-post-excerpt [post]="post"></app-post-excerpt>
        </li>
    </ul>
    <p class="my-5 h4 font-weight-normal text-center" *ngIf="isEmpty && dataLoaded">Przepraszamy, wystąpił błąd podczas ładowania danych. Spróbuj ponownie później</p>
</main> 



